body {
  font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
}

/* ヘッダー */
.header {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(241, 238, 228, 0.25);
  width: 100%;
  text-align: center;
  padding: 12px;
}

.header-logo {
}

.header-nav {
  margin-top: 10px;
}

.header-nav-list {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.header-nav-item {
}

.header-nav-link {
  color: #ffffff;
}

/* 共通クラス */
.inner {
  padding: 0 40px;
}

.section-heading {
  text-align: center;
  margin-bottom: 40px;
}

.section-heading-l {
  color: #fff;
}
.section-heading-main {
  display: block;
  font-size: 40px;
}

.section-heading-sub {
  display: block;
  font-size: 12px;
}

/* aboutセクション */
.about {
  padding: 40px 0;
  background-color: #f1eee4;
}

.about-contents {
}

.about-text-contents {
  margin-top: 20px;
}

.about-text {
  font-size: 14px;
  line-height: 2;
}

.about-text + .about-text {
  margin-top: 16px;
}

/* メニューセクション */
.menu {
  background-color: #f1eee4;
  padding: 80px 0;
}

.menu-contents {
}

.menu-list {
}

.menu-item + .menu-item {
  margin-top: 62px;
}

.menu-img {
}

.menu-text-contents {
  padding: 16px 10px;
  text-align: center;
}

.menu-name {
}

.menu-name-main {
  display: block;
  font-size: 18px;
}

.menu-name-sub {
  display: block;
  font-size: 12px;
  color: #a98c5f;
  margin-top: 8px;
}

.menu-text {
  font-size: 14px;
  color: #a98c5f;
  margin-top: 16px;
}

/* ショップセクション */
.shop {
  background-image: url(../img/sp/bg-shop.png);
  background-position: center center;
  background-size: cover;
  padding: 80px 0;
}

.shop-inner {
  padding: 0 20px;
}

.shop-contents {
}

.shop-text {
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 2;
}

.form {
  margin-top: 40px;
}

.form-input {
  width: 100%;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
  padding: 14px;
}

.form-submit {
  border-radius: 4px;
  border: none;
  font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
  display: block;
  margin: 10px auto 0;
  width: 120px;
  padding: 12px 10px;
  color: #fff;
  background-color: #a98c5f;
}

/* footer */
.footer {
  background-color: #3c301e;
  text-align: center;
  padding-top: 46px;
  color: #fff;
}

.footer-logo {
}

.footer-text {
  font-size: 12px;
}

.footer-nav-list {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0 20px;
}

.footer-nav-item {
}

.footer-nav-link {
}

.footer-nav-link-text {
  font-size: 12px;
  margin-top: 12px;
}

.sns-img {
  width: 56px;
}

.footer-copy-wrapper {
  border-top: 1px solid rgba(241, 238, 228, 0.25);
  padding: 12px;
  margin-top: 46px;
}

.footer-copylight {
  font-size: 12px;
}

/* タブレット、PCサイズの表示 */
@media screen and (min-width: 768px) {
  .header-inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .header-nav-link {
    transition: opacity 0.3s;
  }
  .header-nav-link:hover {
    opacity: 0.7;
  }
  .inner {
    max-width: 1080px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
